<div class="jumbotron ">
<div class="container-fluid bg-3 text-center">
  <h1>Data per month</h1>
  <br/>
  <div class="row">
    <% data.forEach(function(entry) { %>
      <div class="activity-entry col-md-3"><div class="card">
          <div class="card-header"><h5> <%= entry.date %> </h5></div>
            <div class="card-body">
              <dl>
                <dt> Distance: </dt><dd><%= entry.distance %> KM</dd>
                <dt> Runs number: </dt><dd><%= entry.numberofruns %> Runs</dd>
                <dt> Calories: </dt><dd><%= entry.calories %> Calories</dd>
                <dt> Duration: </dt><dd><%= entry.duration %> </dd>
                <dt> Average speed: </dt><dd><%= entry.avgspeed %> min/km</dd>
                <dt> Steps: </dt><dd><%= entry.steps %> Steps</dd>
              </dl>
            </div>
          </div>
      </div>
  <% }); %>
  </div>
</div>
</div>
